@import 'bootstrap/dist/css/bootstrap.min.css';

/* ===============================
   Bootstrap custom styles
================================ */
:root {
    --bs-primary: #2f5f8f;
    --bs-link-color: #2f5f8f;
    --bs-link-hover-color: #244a6d;
    --bs-dropdown-zindex: 1500;
}

.card {
  overflow: visible;
}

.card-header {
  position: relative;
  z-index: 3000;
}

thead.sticky-top {
  z-index: 1020; /* default, NO subir más */
}

.dropdown-menu {
    z-index: var(--bs-dropdown-zindex) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.active {
    background-color: var(--bs-primary) !important;
    color: white !important;
}

.btn-primary {
    --bs-btn-bg: #2f5f8f;
    --bs-btn-border-color: #2f5f8f;

    --bs-btn-hover-bg: #244a6d;
    --bs-btn-hover-border-color: #244a6d;

    --bs-btn-active-bg: #1f3f5e;
    --bs-btn-active-border-color: #1f3f5e;

    --bs-btn-disabled-bg: #2f5f8f;
    --bs-btn-disabled-border-color: #2f5f8f;
}

.link-primary {
    color: var(--bs-primary) !important;
}

.link-primary:hover {
    color: #244a6d !important;
}

.pagination .page-link {
    color: var(--bs-primary);
}

.pagination .page-link:hover {
    color: #244a6d;
}

.pagination .active .page-link {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: white;
}

/* ===============================
   General styles
================================ */
.bg-image {
  min-height: 100vh;
  width: 100%;
  background-image: url('../images/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centrado-vh {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.ql-container {
  resize: vertical;   /* vertical | horizontal | both */
  overflow: auto;
  min-height: 200px;
  max-height: 600px;
}

.ql-editor img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.image-resizer {
  position: absolute;
  border: 1px dashed #3b82f6;
  pointer-events: none;
}

.image-resizer .handle {
  width: 10px;
  height: 10px;
  background: #3b82f6;
  position: absolute;
  border-radius: 50%;
  pointer-events: all;
}

.handle.se {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

/* ===============================
   Home Page clases
================================ */
.buttons-home {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 32px;
}

.btn-home {
  background: #2f5f8f;
  color: #fff;
  padding: 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.2s ease;
}

.btn-home:hover {
  background: #244a6d;
}

/* =========================
   Responsive mobile
========================= */

@media (max-width: 575px) {
    .buttons-home {
        gap: 32px;
    }
    .btn-home {
        font-size: 12px;
    }
    .w-sm-100   { width: 100% !important; }
    .w-sm-75    { width:  75% !important; }
    .w-sm-50    { width:  50% !important; }
    .w-sm-25    { width:  25% !important; }
}

/* =========================
   Responsive Tablet
========================= */

@media (min-width: 576px) and (max-width: 991px) {
    .buttons-home {
        gap: 48px;
    }
    .btn-home {
        font-size: 14px;
    }
    .w-md-100   { width: 100% !important; }
    .w-md-75    { width:  75% !important; }
    .w-md-50    { width:  50% !important; }
    .w-md-25    { width:  25% !important; }
}

/* =========================
   Responsive Desktop
========================= */
@media (min-width: 992px) {
    .buttons-home {
        gap: 64px;
    }
    .btn-home {
        font-size: 18px;
    }
    .w-lg-100   { width: 100% !important; }
    .w-lg-75    { width:  75% !important; }
    .w-lg-50    { width:  50% !important; }
    .w-lg-25    { width:  25% !important; }
}
